<h1>All the Pets!</h1>

<%= form_tag("/pets", method: "get") do %>
  <%= label_tag(:age, "All pets above age:") %>
  <%= number_field_tag(:age) %>
  <%= submit_tag("Search") %>
<% end %>

<h3><%= @pets.dogs.count %> Dogs:</h3>
<%= render 'pets', pets: @pets.dogs%>


<h3><%= @pets.cats.count %> Cats:</h3>
<%= render 'pets', pets: @pets.cats%>


<h3><%= @pets.fish.count %> Fish:</h3>
<%= render 'pets', pets: @pets.fish%>
