<h1>All Vets</h1>

<ul>
  <% @vets.each do |vet|%>
    <li>
      <%= link_to vet.name, vet_path(vet) %> -
      <%= vet.location %> -
      specialty: <%= vet.specialty %> -
      Serving <%= pluralize(vet.ordered_pets.size, 'pet') %>
      ( <%= pluralize(vet.dogs.size, 'dog') %>,
        <%= pluralize(vet.cats.size, 'cat') %>, &
        <%= pluralize(vet.fish.size, 'fish') %>)
        <ul>
          <% vet.ordered_pets.each do |p|%>
          <li><strong><%= p.name %></strong> |
            <%= p.age%> years old |
            <strong><%= p.species %></strong> |
            Owner: <%= p.user.username%>
          </li>
          <% end %>
        </ul>
    </li>
  <% end %>
</ul>