<h1>Sign up here</h1>

<%= form_for(@user) do |f| %>

  <%= render partial: 'layouts/errors', locals: {object: @user} %>


  <%= f.label :username %>
  <%= f.text_field :username, required:true %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Sign In" %>


<% end %>